<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<% include ../partials/navigation %>
	<h1> Show ID: <%= post.id %></h1>
	<h2> Title: <%= post.title %></h2>
	<p> <strong>Body: </strong> <%= post.body %></p>
	<a href="/<%= post.id %>/edit">Edit</a>
</body>
</html>